.social-btn {
  background: #6A7F9F;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.social-btn:hover{
  background-color: #54637A;
  text-decoration: none;
  color: white;
}
